@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "All Users";
}


<h2>All Users</h2>
<hr />

@if(Model.Any())
{
    <a class="btn btn-primary mb-1" style="width:auto"  asp-action="Register" asp-controller="Account">
      Add New user
    </a>
    
     foreach (var user in Model)
    {
     <div class="card mb-3">
        <div class="card-header">
            User Id:@user.Id
        </div>

        <div class="card-body">
            <h5 class="card-title">@user.UserName</h5>
        </div>

        <div class="card-footer">
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>   
    }



}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>

        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
        </div>

        <div class="card-footer">
            <a class="btn btn-primary" style="width:auto" asp-action="Register" asp-controller="Account">
              Add New user
            </a>
        </div>
    </div>
}